# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
**/.mvn
*/.gitignore
**/*.iml
**/mvnw
**/mvnw.cmd
**/target
../db/*.pdb
../db/*.pdm